.app__container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin: 2rem;
}

.app__container__left-section,
.app__container__right-section {
  width: 50%;
}



.app__container__left__info {
  display: flex;
  justify-content: space-around;
}

.app__container__left__epoch {
  padding: 2rem;
  background: rgba(255, 0, 179, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  width: 25%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.app__container__left__diff {
  padding: 2rem;
  background: rgba(255, 0, 179, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.9px);
  -webkit-backdrop-filter: blur(12.9px);
  width: 20%;
  color: #000;
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: center;
}

.epoch {
  font-weight: 600;
  font-size: 18px;
  font-family: inherit;
}



.app__container__right-section__code {
  padding: 2rem;
  background: #eee;
  border-radius: 10px;
  height: 70vh;
  overflow-y: auto;
  width: 80%;
  margin: 0 !important;
}

.app__container__right-section__code::-webkit-scrollbar {
  display: none;
}

pre code {
  display: block;
  background: none;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
  padding: 0;
}

@media (max-width: 810px) {
  .app__container {
    flex-direction: column;
    margin: 0;
  }

  .app__container__left__info {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .app__container__right-section__code {
    height: 60vh;
    margin: 1rem 0 !important;
  }

  .app__container__left-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .app__container__left__epoch,
  .app__container__left__diff {
    width: 30%;
  }

  .app__container__right-section {
    width: 100%;

    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .app__container__right-section {
    display: flex;
    justify-content: center;
  }

  .app__container__left__epoch, .app__container__left__diff {
    width: 30%;
    padding: 1.5rem;
    font-size: 13px;
  }

  .app__container__right-section {
    font-size: 11px;
  }
}